<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
{{ mail }}
    <form class="post" method="get">

        <div class="form-group">
            <small style="color:red">{{err.name_err}}</small>
            <input type="text" value="{{mail.name}}" name="name" class="form-control"  placeholder="Enter your Name"><br><br>

            <small style="color:red">{{err.email_err}}</small>
            <input type="text" value="{{mail.email}}" name="email" class="form-control"  placeholder="Enter your email"><br><br>

            <small style="color:red">{{err.city_err}}</small>
            <input type="text" value="{{mail.city}}" name="city" class="form-control"  placeholder="Enter your City"><br><br>
            
            <input type="submit" value="submit" name="submit" class="btn btn-primary">
          </div>
    </form>
</body>
</html>